<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" colors="true" bootstrap="vendor/autoload.php">
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="intl.default_locale" value="en"/>
    <ini name="intl.error_level" value="0"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
    <env name="BOOTSTRAP_CLEAR_CACHE_ENV" value="test"/>
    <env name="BOOTSTRAP_BYPASS_FINALS" value="true"/>
    <env name="APP_ENV" value="test"/>
  </php>
  <testsuites>
    <testsuite name="Loggable Bundle Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
